* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

ol {
    margin-left: 25px;
    list-style-position: inside;
    align-items: start;
}
#fraselogin {
    color: white;
    margin-top: 50px;
    font-size: 3rem;
}

body {
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.588);
}

#senha {
    background-color: transparent;
    color: white;
}

#email {
    background-color: transparent;
    color: white;
}
#botao {
    margin-top: 3px;
    margin-bottom: 0;
    width: 50%;
    border-radius: 1rem;
}
#botao:hover {
    text-decoration: underline;
}
.container {
    background-color: rgba(0, 0, 0, 0.58);
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border: 2px solid black;
    color: white;
    padding: 1em;
    margin: 2em auto;
    width: fit-content;
    border-radius: 24px;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.error {
    color: red;
}

.success {
    color: green;
}
