

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

ol {
    margin-left: 25px;
    list-style-position: inside;
    align-items: start;    
}






body {
    background: grey;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid black;  
    padding: 1em; 
    margin: 2em auto;
    width: 40%; 
    border-radius: 24px;
}

.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.error{
    color: red;
    display: none;
}

.success{
    color: green;
    display: none;
}

